.Wrapper
  .container
    .QuoteCards
      - @quotes.each do |quote|
        = link_to new_quote_path, class: "badge badge-primary QuoteIcon" do
          .quote
            %i.fas.fa-quote-right
        = render partial: 'layouts/quotes-list', locals: { quote: quote}
