.Wrapper
  .container-login
    %p.text-primary
      = current_user.nickname
      さん
    .mypage-index
      %ul
        %li.nav-item.active
          %a.nav-link.mypage-link{:href => user_favorite_path(current_user.id)} お気に入り一覧
        %li.nav-item
          %a.nav-link.mypage-link{:href => follows_user_path(current_user.id)} フォロー
        %li.nav-item
          %a.nav-link.mypage-link{:href => followers_user_path(current_user.id)} フォロワー
        %li.nav-item
          %a.nav-link.mypage-link{:href => user_path(current_user.id)} 投稿一覧
