@media screen and (max-width:480px){
  // 共通 _quote-list
  .Wrapper {
    min-height: calc( 100vh - 110px);
    .container {
      margin: 20px 0;
      .QuoteCards {
        .QuoteIcon {
          position: fixed;
          height: 50px;
          width: 50px;
          top: 70px;
          right: 25px;
          .quote {
            line-height: 50px;
            font-size: 30px;
            color: #fff !important;
          }
        }
      }
      .card {
        .card-header {
          font-size: 14px;
        }
        .card-body {
          .card-title {
            font-size: 22px;
            font-weight: 300;
          }
          .card-text {
            font-size: 14px;
          }
          .poster {
            font-size: 14px;
            margin: 0;
          }
          .CountBox {
            display: flex;
          }
        }
      }
    }
  }

  // その他
  .quote {
    text-decoration: none !important;
    color: black !important;
  }
  .space {
    margin: 40px 0;
    border-bottom: 1px solid transparent;
  }

  hr {
    margin: 4px 0 !important;
  }

  // _favorite
  .fas.fa-heart {
    color: red;
  }
  .favorite-count {
    margin-left: 130px;
  }

  // _follow
  .FollowBtn {
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 5px;
    margin-left: 5px;
  }

  // users#index
  .inline {
    display: inline-block !important;
    width: 120px;
  }
  .inline2 {
    display: inline-block !important;
  }
  .MypageList {
    margin-left: 20px;
  }

  // _comments
  .CommentIndex {
    height: 180px;
    overflow: hidden;
    overflow-y: scroll;
  }
  #comment_text {
    height: 100px;
    margin-right: 5px;
  }
  .CommentSubmitBtn {
    width: 50px;
    padding: 3px;
    position: absolute;
    top: 63px;
    right: 2px;
    word-wrap: wrap;
  }
  .form-group {
    position: relative;
  }

  // quotes#search
  .SearchResults {
    display: flex;
    margin-bottom: 10px;
  }
}

@media screen and (min-width:481px){

// 共通+quote-list
.Wrapper {
  min-height: calc( 100vh - 110px);
  display: flex;
  justify-content: center;
  .container {
    margin: 20px auto;
    .QuoteCards {
      width: 700px;
      display: flex;
      flex-wrap: wrap;
      .QuoteIcon {
        position: fixed;
        height: 50px;
        width: 50px;
        top: 70px;
        right: 25px;
        .quote {
          line-height: 50px;
          font-size: 30px;
          color: #fff !important;
        }
      }
      .card {
        width: 300px;
        margin: 0 10px 10px 0;
        .card-body {
          .CountBox {
            display: flex;
          }
        }
      }
    }
  }
}

// その他
.space {
  margin: 40px 0;
  border-bottom: 1px solid transparent;
}
.smallspace {
  border-bottom: 1px solid #fff;
  margin: 3px;
}

.quote {
  text-decoration: none !important;
  color: black !important;
}

// _follow
.FollowBtn {
  font-size: 10px !important;
  font-weight: bold !important;
  padding: 5px;
  margin-left: 5px;
}

// _favorite
.fas.fa-heart {
  color: red;
}
.favorite-count {
  margin-left: 130px;
}

// users#index
.inline {
  display: inline-block !important;
  width: 120px;
}
.MypageList {
  margin-left: 20px;
}

// _comments
.CommentIndex {
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
}
#comment_text {
  height: 100px;
  margin-right: 5px;
}
.CommentSubmitBtn {
  width: 50px;
  padding: 3px;
  position: absolute;
  top: 63px;
  right: 2px;
  word-wrap: wrap;
}
.form-group {
  position: relative;
}

// quotes#search
.SearchResults {
  display: flex;
  margin-bottom: 10px;
}
}

@media screen and (min-width:991px){

// 共通+quote-list
  .Wrapper {
    min-height: calc( 100vh - 110px);
    display: flex;
    justify-content: center;
    .container {
      margin: 20px auto;
      .QuoteCards {
        width: 1050px;
        display: flex;
        flex-wrap: wrap;
        .QuoteIcon {
          position: fixed;
          height: 50px;
          width: 50px;
          top: 70px;
          right: 25px;
          .quote {
            line-height: 50px;
            font-size: 30px;
            color: #fff !important;
          }
        }
        .card {
          width: 300px;
          margin: 0 10px 10px 0;
          .card-body {
            .CountBox {
              display: flex;
            }
          }
        }
      }
    }
  }

// その他
  .space {
    margin: 40px 0;
    border-bottom: 1px solid transparent;
  }
  .quote {
    text-decoration: none !important;
    color: black !important;
  }

  // _follow
  .FollowBtn {
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 5px;
    margin-left: 5px;
  }

  // _favorite
  .fas.fa-heart {
    color: red;
  }
  .favorite-count {
    margin-left: 130px;
  }

  // users#index
  .inline {
    display: inline-block !important;
    width: 120px;
  }
  .MypageList {
    margin-left: 20px;
  }

  // _comments
  .CommentIndex {
    height: 180px;
    overflow: hidden;
    overflow-y: scroll;
  }
  #comment_text {
    height: 100px;
    margin-right: 5px;
  }
  .CommentSubmitBtn {
    width: 50px;
    padding: 3px;
    position: absolute;
    top: 63px;
    right: 2px;
    word-wrap: wrap;
  }
  .form-group {
    position: relative;
  }

  // quotes#search
  .SearchResults {
    display: flex;
    margin-bottom: 10px;
  }
}