= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.hidden_field :email, value: "true+placeholder=email.value=guest@gmail.com"
    = f.hidden_field :password, value: "9L8UZjqWYpckAj8Yn+7QxuHDNZ/5nVih68yxf2JUwIuGdwPimalsFJCZV+c3T15YoFmr/cJcEf78Kz+4UJno6w"
    = f.submit  'ゲストユーザーとしてログイン', class: 'btn btn-primary btn-block'
.smallspace