= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.hidden_field :email, value: "sample1@gmail.com"
    = f.hidden_field :password, value: "sample1"
    = f.submit  'ゲストユーザーとしてログイン', class: 'btn btn-primary btn-block'
.smallspace